
.body {
    background-color: rgb(255, 225, 75)
}

 .pSpecial{
    text-align: center;
}

.encabezado {
    display: flexbox;
    justify-content: center;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
}

.navbar li{
    list-style: none;
    margin: 15px;
    background-color: rgb(138, 167, 167);
    padding: 10px;    
}

h1{
    text-align: center;
    color: green;
    font-size: 100px;
}

.pEspecial{
    color: red;
}

.pEspecial2{
    color: green;
}

.h2{
    font-size: 35px;
}

.f1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.f2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
