.j1{
    color:blue;
    background-color: tomato;
}

.j2{
    color:rgb(48, 255, 29);
    background-color: rgb(128, 33, 17);
}

.j3{
    color:rgb(119, 20, 61);
    background-color: rgb(255, 226, 62);
}

form{
    display: grid;
    /*justify-content: space-between;*/
    background-color: rgb(143, 167, 163);
    margin-right: 70%;
    border: 2px solid black;
}